.header {
  text-align: center;
}

.container {
  max-width: 800px;
}

.navbar_container {
  margin: auto;
  max-width: 800px;
}

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.spaced {
  padding-top: 7rem;
  /* padding-bottom: 3rem; */
}

.spaced.nav_extra {
  padding-top: 12rem;
}

.material-icons.logo {
  font-size: 75px;
  text-align: center;
}

.navbar-list {
  list-style: none;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
  /* width:100px; */
}

.navbar-long {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  list-style: none;
  top: 92%;
  right: -40%;
  z-index: 1;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 10px;
  margin: 1pt;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-item:hover .dropdown {
  display: block;
}

.navbar-list > .navbar-edu {
  display: block;
}

.more-edu {
  display: none;
}

#stickyNav {
  /* background: white; */
  /* height: 60px; */
  /* width: 300px; */
  position: absolute;
  /* margin: 0 auto; */
  /* top: 300px; */
}
#stickyNav ul {
  float: left;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  /* .navbar {
    height: 13rem;
  }
  .spaced.nav_extra {
    padding-top: 18rem;
  } */
  .navbar-more {
    display: block;
  }
  .navbar-long {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-list > .navbar-edu {
    display:none;
  }
  .more-edu {
    display:block;
  }
  .navbar-link {
    font-size:10.5px;
  }
  .navbar {
    width: 90%;
  }
}
